@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .chat-row {
        @apply flex items-center gap-x-3 p-3 rounded-md text-sm hover:bg-gray-500/10 transition-all duration-200 ease-in-out
    }
}

/* body {
    grid-template-rows: min-content minmax(100vh, 1fr);
}
.footer-main {
    grid-template-rows: minmax(100vh, 1fr) min-content;
} */

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}